*{
    padding: 0;
    margin: 0;
}
.main_container{
    display: flex !important;
    justify-content: center;
    /* flex-wrap: wrap; */
    background-image: url(img/backgound.svg);
    background-position: no-repeat;
    background-size: cover;
    /* padding: 0px 130px; */
    padding-left: 170px;
    padding-right: 100px;
    padding-top: 70px;
    padding-bottom: 40px;
    /* margin: auto; */
}

.sub_contain_1_h1{
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700 !important;
font-size: 55px !important;
line-height: 55px !important;
text-align: left;
color: #0B163A;
}
.sub_contain_2{
    text-align: center;
}

.sub_contain_1_button_2{
    margin: 0px 10px;
    background-color: #ff7f5c !important;
}

.sub_contain_1_button{
    border-radius: 200px !important; 
   
}
@media (max-width:1200px){
    .main_container{
        
        padding-left: 70px;
        padding-right: 50px;
       
    }
}

@media (max-width:1058px){
    .sub_contain_1_h1{
        font-weight: 200;
        font-family: 'Roboto', sans-serif;
    font-style: normal;
    /* font-weight: 300 !important; */
    font-size: 50px !important;
   
    }
}
@media (max-width:996px){
    .main_container{
        display: flex !important;
        justify-content: center;
        flex-wrap: wrap;
        padding-left: 170px;
        padding-right: 100px;
    }
    .contain_1_button{
       margin: auto;
    }
}
@media (max-width:670px){
    .main_container{
        display: flex !important;
        justify-content: center;
        flex-wrap: wrap;
        padding-left: 170px;
        padding-right: 100px;
    }
    img{
        width: 100%;
    }
}
@media (max-width:590px) and (min-width:229px){
    .sub_contain_1_h1{
        /* font-weight: 60; */
        font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 70 !important;
    font-size: 40px !important;
    line-height: 40px !important;
   
    }
    .main_container{
       
        /* padding: 0px 130px; */
        padding-left: 0px;
        padding-right: 0px;
        /* padding-top: 70px;
        padding-bottom: 40px; */
        /* margin: auto; */
    }
}
.main{
    display: flex;
    /* flex-wrap: wrap; */
}


/* tabs */

.Tabsss{
    padding: 150px;
    box-shadow: 0px 0px 50px rgba(207, 207, 204, 0.715);
}

.tabs_h1_div{
    /* padding: 0px 250px; */
    text-align: center;
    margin-bottom: 30px;
}
.tabs_an{
    margin-top: 20px;
    margin-bottom: 20px;
}
.tabbss_container_first{
    display: flex;
    flex-wrap: wrap;
    
}
@media (min-width:0px ) and (max-width:1350px){
    .Tabsss{
        margin-top: 20px;
        padding: 100px;
        box-shadow: 0px 0px 50px rgba(207, 207, 204, 0.715);
    }
}
@media (min-width:0px ) and (max-width:870px){
    .Tabsss{
        margin-top: 20px;
        padding: 10px;
        box-shadow: 0px 0px 50px rgba(207, 207, 204, 0.715);
    }
}
@media (min-width:250px ) and (max-width:452px){
    .Tabsss{
        padding: 10px;
        box-shadow: 0px 0px 50px rgba(207, 207, 204, 0.715);
    }
    .main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
 
}

/* navbar */
.btn-cust{
    background-color: #2A53E9!important;
    border-radius: 50px!important;
    line-height: 16px!important;
    margin-left: 15px !important;
    color: aliceblue !important;
  }
  .dropdown:hover>.dropdown-menu {
    display: block;
  }
  .navvvv{
    position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  }


  /* services_main_box */

  .services_main_box{
    margin-top: 20px;

    /* display: flex; */
    justify-content: center;
  }
  .services_h3{
    color: #2A53E9;
    font-weight: bolder;
    text-align: center;
  }
  .services_para{
    color: gray;
    text-align: center;
  }
  /* .services_first_b{
    /* display: flex;
    align-items: center; */
    /* box-shadow: 0px 0px 50px rgba(207, 207, 204, 0.715); */
   
  .services_sec_b{
    display: flex;
    align-items: center;
    background-color: #abb8c3;
    
  }
  @media (min-width:0px ) and (max-width:575px){
    .services_main_box{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
  
  }

  /* Pricing */

  /* .Price{
    border: 2px black solid;
  } */
    /* margin: 80px 0px; */
    /* width: 70%; */
    /* padding: 20px 20px; */
/* }
.Price_main_div{
    /* display: flex;
    flex-direction: column;
    justify-content: center; */

  /* }
  #carouselExampleSlidesOnly{
    margin: auto;
  }
  .carousel-inner{
    margin: auto;
  } */ 
  .Carousel_center{
    display: flex;
    justify-content: center;
  }
 
  .contain_card{
    display: flex;
  }
  .Price_h1{
    text-align: center;
  }
  .Price_list{
    list-style: none;
    padding: 10px 0px;
  }
  ul{
    line-height: 20px;
  } 

  /* Pricing_card using carousel */

  .text-reset{
    text-decoration: none;
  }

  /* WEBMaxy */
  .WebMaxy_text{
    padding: 0px 500px;
    margin-left: 100px;
    margin-top: -300px;
  }
  .WebMaxy{
    background-color: #f7f8fa;
  }
  .WebMaxy_carousel{
    padding: 100px;
  }
  @media (min-width:0px ) and (max-width:1060px){
    .WebMaxy{
      display: none;
    }
  }
 
  .Question_ANswer{
    background-color: #FFF1F1 ;
    margin-top: 20px;
    padding-top: 20px;
  }

  /* Q and A section */
  .accordion-item{
    margin: 20px 10px;
  }
  .Q_A_div{
  padding: 30px 100px;

}
@media (min-width:560px ) and (max-width:730px){
  .Q_A_div{
    padding: 10px 70px;
  
  }
}
@media (min-width:0px ) and (max-width:559px){
  .Q_A_div{
    padding: 10px 10px;
  
  }
}


/* price_new_card */

/* @media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
      display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
} */

/* medium and up screens */
/* @media (min-width: 768px) {
  
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }
  
  .carousel-inner .carousel-item-start.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
transform: translateX(0);
} */

